<div class="edvideo">
    <div class="container">
        <h5 class="global__title edvideo__title">Education at Crestview</h5>
        <p class="global__text edvideo__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. Facilisis elit elit, viverra elit aliquam. Risus pharetra porttitor mattis enim nulla. Ut arcu cursus amet turpis id. Luctus neque imperdiet amet accumsan leo mauris, enim</p>
        <div class="edvideo__add">
           <a data-fslightbox="edvideo" class="edvideo__link" href="https://www.youtube.com/watch?v=OTuph9pJWU4&ab_channel=PeekabooKidz"><img class="edvideo__img" data-src="images/education/play.svg" src="images/plug.svg" alt="tutors"></a>
        </div>
    </div>
</div>