<div class="learning">
    <div class="container">
        <div class="learning__inner">
            <div class="learning__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="learning__img" data-src="images/learning/img1.jpg" src="images/plug.svg" alt="learning">
                <div class="learning__content">
                    <h5 class="global__title learning__title">Higher School Certificate</h5>
                    <p class="global__text learning__text--first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. </p>
                    <p class="global__text learning__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. </p>
                </div>
            </div>
            <div class="learning__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="learning__img learning__img--order" data-src="images/learning/img2.jpg" src="images/plug.svg" alt="learning">
                <div class="learning__content">
                    <h5 class="global__title learning__title">Flexible learning</h5>
                    <p class="global__text learning__text--first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. </p>
                    <p class="global__text learning__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. </p>
                </div>
            </div>
            <div class="learning__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="learning__img" data-src="images/learning/img3.jpg" src="images/plug.svg" alt="learning">
                <div class="learning__content">
                    <h5 class="global__title learning__title">Flexible learning</h5>
                    <p class="global__text learning__text--first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. </p>
                    <p class="global__text learning__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. </p>
                </div>
            </div>
        </div>
    </div>
</div>