<div class="library">
    <div class="container">
        <div class="library__inner">
        <div class="library__item">
            <img data-aos="fade-up" data-aos-duration="1000" class="library__img" data-src="images/library/img1.jpg" src="images/plug.svg" alt="library">
            <div class="library__content">
                <h5 class="library__title global__title">Library Services</h5>
                <p class="global__text library__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque v</p>
                <p class="global__text library__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque v</p>
            </div>
        </div>
    </div>
    </div>
</div>