<div class="contacts">
    <div class="container__fluid">
        <div class="contacts__inner">
            <div class="contacts__item">
                <div class="contacts__title">Enrol Now</div>
                <p class="contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed po</p>
                <button class="global__btn contacts__btn">More Information</button>
            </div>
            <div class="contacts__item">
                <div class="contacts__title">Contact US</div>
                <p class="contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed po</p>
                <button class="global__btn contacts__btn">Drop A Message</button>
            </div>
    </div>
</div>
</div>