<div class="schedule">
    <div class="global__title schedule__title"></div>
    <div class="container">
        <table class="schedule__table">
            <thead class="schedule__header">
            <tr>
                <th class="schedule__header-style">Time</th>
                <th class="schedule__header-style">Activity</th>
            </tr>
            </thead>
            <tbody>
            <tr class="schedule__row">
                <td class="schedule__column">8:00</td>
                <td class="schedule__column">Arrival of Parent Teachers</td>
            </tr>
            <tr class="schedule__row">
                <td class="schedule__column">8:30</td>
                <td class="schedule__column">Settling in Games</td>
            </tr>
            <tr class="schedule__row">
                <td class="schedule__column">9:30</td>
                <td class="schedule__column">Class Meeting</td>
            </tr>
            <tr class="schedule__row">
                <td class="schedule__column">10:45</td>
                <td class="schedule__column">Reading Workshop</td>
            </tr>
            <tr class="schedule__row">
                <td class="schedule__column">11:45</td>
                <td class="schedule__column">Lunch and Outside Play</td>
            </tr>
            <tr class="schedule__row">
                <td class="schedule__column">12:30</td>
                <td class="schedule__column">Writing Workshop</td>
            </tr>
            <tr class="schedule__row">
                <td class="schedule__column">01:00</td>
                <td class="schedule__column">Dismissal</td>
            </tr>
            </tbody>
            </table>
    </div>
</div>