<div class="tabs">
    <div class="container">
        <div class="tabs__info">
            <h5 class=" global__title">Kindergarten</h5>
            <div class="tabs__schedule">
                <div class="tabs__week">Monday - Friday</div>
                <div class="tabs__time">08:00 AM - 01.00 PM</div>
            </div>
        </div>
        <div class="tabs__inner">
            <div class="tabs__frame" id="frame"></div>
            <div class="tabs__btns">
                <div class="tabs__watch">Watch Videos</div>
                <button data-url="niPyVnC6W5g" class="tabs__btn">Kindergarten</button>
                <button data-url="YqqfhtudTsw" class="tabs__btn">Junior School</button>
                <button data-url="TpdoYhT43rU" class="tabs__btn">Middle School</button>
                <button data-url="lvZBGJkbeTE" class="tabs__btn">High School</button>
            </div>
        </div>
        <div class="tabs__text">
            <p class="tabs__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. Facilisis elit elit, viverra elit aliquam. Risus pharetra porttitor mattis enim nulla. Ut arcu cursus amet turpis id. Luctus neque imperdiet amet accumsan leo mauris, enim</p>
            <p class="tabs__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. Facilisis elit elit, viverra elit aliquam. Risus pharetra porttitor mattis enim nulla. Ut arcu cursus amet turpis id. Luctus neque imperdiet amet accumsan leo mauris, enim</p>
        </div>
        <div class="tabs__swiper swiper">
            <div class="tabs__wrapper swiper-wrapper">
              <div class="tabs__swiper swiper-slide"><img class="tabsgallery-img" data-src="images/youtube/img1.jpg" src="images/plug.svg"  alt="headertop"></div>
              <div class="tabs__swiper swiper-slide"><img class="tabsgallery-img" data-src="images/youtube/img2.jpg" src="images/plug.svg"  alt="headertop"></div>
              <div class="tabs__swiper swiper-slide"><img class="tabsgallery-img" data-src="images/youtube/img3.jpg" src="images/plug.svg"  alt="headertop"></div>
              <div class="tabs__swiper swiper-slide"><img class="tabsgallery-img" data-src="images/youtube/img4.jpg" src="images/plug.svg"  alt="headertop"></div>
              <div class="tabs__swiper swiper-slide"><img class="tabsgallery-img" data-src="images/youtube/img1.jpg" src="images/plug.svg"  alt="headertop"></div>
              <div class="tabs__swiper swiper-slide"><img class="tabsgallery-img" data-src="images/youtube/img2.jpg" src="images/plug.svg"  alt="headertop"></div>
              <div class="tabs__swiper swiper-slide"><img class="tabsgallery-img" data-src="images/youtube/img3.jpg" src="images/plug.svg"  alt="headertop"></div>
              <div class="tabs__swiper swiper-slide"><img class="tabsgallery-img" data-src="images/youtube/img4.jpg" src="images/plug.svg"  alt="headertop"></div>
            </div>
          </div>
    </div>
</div>