<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item footer__item--first">
                <a href="" class="header__logo"><img src="images/header/logo.png" alt="logo"></a>
                <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet tristique placerat eleifend aliquam pellentesque facilisis ultrices. Imperdiet mus urna egestas at tellus. </p>
                <div class="footer__social">
                    <a href="#" class="footer__social-icon"><svg><use xlink:href="#facebook"></use></svg></a>
                    <a href="#" class="footer__social-icon"><svg><use xlink:href="#twitter"></use></svg></a>
                    <a href="#" class="footer__social-icon"><svg><use xlink:href="#linkedin"></use></svg></a>
                </div>
            </div>
            <div class="footer__item footer__item--second">
                <ul class="footer__list-first">
                    <li class="footer__list-item__title">Quick Link</li>
                    <li class="footer__list-item"><a href="#">Classes</a></li>
                    <li class="footer__list-item"><a href="#">Program</a></li>
                    <li class="footer__list-item"><a href="#">Teachers</a></li>
                    <li class="footer__list-item"><a href="#">About</a></li>
                </ul>
            </div>
            <div class="footer__item footer__item--third">
<ul class="footer__list-second">
    <li class="footer__list-item__title">Contact</li>
    <li class="footer__list-item footer__list-item__icons footer__list-item__padding"><a href="#"><svg><use xlink:href="#address"></use></svg>8819 Ohio St. South Gate, CA 90280</a></li>
    <li class="footer__list-item footer__list-item__icons footer__list-item__padding"><a href="tel:+13866883295"><svg><use xlink:href="#phone"></use></svg>+1 000-000-0000</a></li>
    <li class="footer__list-item footer__list-item__icons footer__list-item__padding"><a href="mailto:andrew@hello.com"><svg><use xlink:href="#mail"></use></svg>andrew@hello.com</a></li>
</ul>
            </div>
        </div>
        <div class="footer__copyright">@<span class="date">2021</span> |made by <svg><use xlink:href="#heart"></use></svg>| Andrew</div>
    </div>
</footer>