<div class="headertop">
    <div class="container__fluid">
        <div class="headertop__inner">
            <div class="headertop__item--content">
                <div class="headertop__title"></div>
                <div class="headertop__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. </div>
                <a href="#" class="global__btn headertop__btn">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="headertop__gallery">
    <div class="headertop__gallery-inner">
            <div class="headertop__gallery-item">
                <img class="headertop__gallery-img" data-src="images/headertop/img1.jpg" src="images/plug.svg"  alt="headertop">
                <p class="headertop__gallery-subtitle">Kindergarten</p>
            </div>
            <div class="headertop__gallery-item">
                <img class="headertop__gallery-img" data-src="images/headertop/img2.jpg" src="images/plug.svg"  alt="headertop">
                <p class="headertop__gallery-subtitle">Junior School</p>
            </div>
            <div class="headertop__gallery-item">
                <img class="headertop__gallery-img" data-src="images/headertop/img3.jpg" src="images/plug.svg"  alt="headertop">
                <p class="headertop__gallery-subtitle">Middle School</p>
            </div>
            <div class="headertop__gallery-item">
                <img class="headertop__gallery-img" data-src="images/headertop/img4.jpg" src="images/plug.svg"  alt="headertop">
                <p class="headertop__gallery-subtitle">Senior School</p>
            </div>
    </div>
</div>