<div class="instagram">
    <div class="container">
        <div class="instagram__info">
            <div class="instagram__content">
                <h5 data-aos="flip-up" data-aos-duration="2500" data-aos-delay="500" class="global__title instagram__title">Crestview Instagram Feed</h5>
                <p class="global__text instagram__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna
                    donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut.</p>
            </div>
            <img class="instagram__img" data-src="images/instagram/decor.svg" src="images/plug.svg" alt="instagram">
        </div>
        <div data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500" class="instagram__swiper swiper">
            <div class="instagram__wrapper swiper-wrapper">
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img1size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img1.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img2size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img2.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img3size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img3.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img4size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img4.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img5size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img5.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img1size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img1.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img2size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img2.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img3size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img3.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img4size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img4.jpg" src="images/plug.svg" alt="instagram"></a>
                <a data-fslightbox="instagram" data-type="image"  href="images/instagram/img5size.jpg" class="instagram__slide swiper-slide"><img data-src="images/instagram/img5.jpg" src="images/plug.svg" alt="instagram"></a>
            </div>
        </div>
    </div>
</div>