<div class="skills">
    <div class="container">
        <div class="skills__info">
            <div class="skills__content">
                <p class="global__name skills__name">Find your child's skills</p>
                <h5 class="global__title skills__title">Extracurricular on Crestview</h5>
                <p class="global__text skills__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna
                    donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut.</p>
            </div>
            <div class="skills__btns">
                <div class="skills__button-prev swiper-button-prev"></div>
                <div class="skills__button-next swiper-button-next"></div>
            </div>
        </div>
        <div class="skills__inner">
            <div class="skills__swiper swiper">
                <div class="skills__wrapper swiper-wrapper">
                    <div class="skills__slide swiper-slide">
                        <img data-src="images/skills/img1.jpg" src="images/plug.svg" alt="skills">
                        <p class="skills__subtitle">Outdoor & Nature</p>
                    </div>
                    <div class="skills__slide swiper-slide">
                        <img data-src="images/skills/img2.jpg" src="images/plug.svg" alt="skills">
                        <p class="skills__subtitle">Chess</p>
                    </div>
                    <div class="skills__slide swiper-slide">
                        <img data-src="images/skills/img3.jpg" src="images/plug.svg" alt="skills">
                        <p class="skills__subtitle">Music</p>
                    </div>
                    <div class="skills__slide swiper-slide">
                        <img data-src="images/skills/img4.jpg" src="images/plug.svg" alt="skills">
                        <p class="skills__subtitle">Art & Design</p>
                    </div>
                    <div class="skills__slide swiper-slide">
                        <img data-src="images/skills/img1.jpg" src="images/plug.svg" alt="skills">
                        <p class="skills__subtitle">Outdoor & Nature</p>
                    </div>
                    <div class="skills__slide swiper-slide">
                        <img data-src="images/skills/img2.jpg" src="images/plug.svg" alt="skills">
                        <p class="skills__subtitle">Chess</p>
                    </div>
                    <div class="skills__slide swiper-slide">
                        <img data-src="images/skills/img3.jpg" src="images/plug.svg" alt="skills">
                        <p class="skills__subtitle">Music</p>
                    </div>
                    <div class="skills__slide swiper-slide">
                        <img data-src="images/skills/img4.jpg" src="images/plug.svg" alt="skills">
                        <p class="skills__subtitle">Art & Design</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>