<div class="teachers">
    <div class="container">
        <div class="teachers__info">
            <div class="teachers__content">
                <p class="global__name teachers__name">Meet With A great Teacher</p>
                <h5 data-aos="flip-up" data-aos-duration="2500" data-aos-delay="500" class="global__title teachers__title">Our Incridible Teachers</h5>
                <p class="global__text teachers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut.</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500" class="teachers__inner">
            <div class="teachers__item">
                <img class="teachers__img" data-src="images/teachers/img1.jpg" src="images/plug.svg" alt="teachers">
                <div class="teachers__information">
                    <h4 class="teachers__name-item">Malik Abimanyu</h4>
                    <div class="teachers__job">Founders</div>
                    <div class="teachers__social">
                        <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="teachers__item">
                <img class="teachers__img" data-src="images/teachers/img2.jpg" src="images/plug.svg" alt="teachers">
                <div class="teachers__information">
                    <h4 class="teachers__name-item">Pakjoo</h4>
                    <div class="teachers__job">Pak Guru MTK</div>
                    <div class="teachers__social">
                        <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="teachers__item">
                <img class="teachers__img" data-src="images/teachers/img3.jpg" src="images/plug.svg" alt="teachers">
                <div class="teachers__information">
                    <h4 class="teachers__name-item">Pakjoo</h4>
                    <div class="teachers__job">Pak Guru MTK</div>
                    <div class="teachers__social">
                        <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="teachers__item">
                <img class="teachers__img" data-src="images/teachers/img4.jpg" src="images/plug.svg" alt="teachers">
                <div class="teachers__information">
                    <h4 class="teachers__name-item">Aulia</h4>
                    <div class="teachers__job">Bu Guru B.Inggris</div>
                    <div class="teachers__social">
                        <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="teachers__item">
                <img class="teachers__img" data-src="images/teachers/img1.jpg" src="images/plug.svg" alt="teachers">
                <div class="teachers__information">
                    <h4 class="teachers__name-item">Malik Abimanyu</h4>
                    <div class="teachers__job">Founders</div>
                    <div class="teachers__social">
                        <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="teachers__item">
                <img class="teachers__img" data-src="images/teachers/img2.jpg" src="images/plug.svg" alt="teachers">
                <div class="teachers__information">
                    <h4 class="teachers__name-item">Pakjoo</h4>
                    <div class="teachers__job">Pak Guru MTK</div>
                    <div class="teachers__social">
                        <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="teachers__item">
                <img class="teachers__img" data-src="images/teachers/img3.jpg" src="images/plug.svg" alt="teachers">
                <div class="teachers__information">
                    <h4 class="teachers__name-item">Pakjoo</h4>
                    <div class="teachers__job">Pak Guru MTK</div>
                    <div class="teachers__social">
                        <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="teachers__item">
                <img class="teachers__img" data-src="images/teachers/img4.jpg" src="images/plug.svg" alt="teachers">
                <div class="teachers__information">
                    <h4 class="teachers__name-item">Aulia</h4>
                    <div class="teachers__job">Bu Guru B.Inggris</div>
                    <div class="teachers__social">
                        <a href="#" class="teachers__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="teachers__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>