@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/OpenSans-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/poppins-regular-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/poppins-semibold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/poppins-bold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/roboto-medium-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/Raleway-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Rubik-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Rubik-Bold.woff2') format('woff2');
}