html,
body {
    height: 100%;
    @extend %opensansreg;
    font-size: 16px;
    color: $text;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}
.container__fluid {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}
.global__btn {
    border-radius: 8px;
    line-height: 32px;
    color: $white;
    background-color: $button;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $buttonhover;
    }
}