<div class="counter">
    <div class="container">
        <div class="counter__inner">
            <div class="counter__item">
                <img class="counter__img" data-src="images/counter/icon1.svg" src="images/plug.svg" alt="counter">
                <div class="counter__num"><span data-target="500" class="number">3</span></div>
                <div class="counter__title">School</div>
            </div>
            <div class="counter__item">
                <img class="counter__img" data-src="images/counter/icon2.svg" src="images/plug.svg" alt="counter">
                <div class="counter__num">1st</div>
                <div class="counter__title">IB In The World</div>
            </div>
            <div class="counter__item">
                <img class="counter__img" data-src="images/counter/icon3.svg" src="images/plug.svg" alt="counter">
                <div class="counter__num"><span data-target="2000" class="number">2000</span>+</div>
                <div class="counter__title">Student</div>
            </div>
            <div class="counter__item">
                <img class="counter__img" data-src="images/counter/icon4.svg" src="images/plug.svg" alt="counter">
                <div class="counter__num"><span data-target="1500" class="number">8</span></div>
                <div class="counter__title">Top Achievers</div>
            </div>
        </div>
    </div>
</div>