<div class="history">
    <div class="container">
        <h5 class="global__title history__title">Our History</h5>
        <div class="history__inner">
            <div class="history__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="history__img history__img--first" data-src="images/history/img1.jpg" src="images/plug.svg" alt="history">
                <div class="history__info">
                    <p class="global__text history__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis facilisi neque, massa ornare est porttitor nibh a. Non eget fames ipsum pulvinar sed nisl sed donec. Cursus penatibus nam mauris cursus sollicitudin elit, massa. Urna semper ac, pellentesque vitae id. Posuere adipiscing habitasse nibh urna, pretium venenatis volutpat, </p>
                    <p class="global__text history__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis facilisi neque, massa ornare est porttitor nibh a. Non eget fames ipsum pulvinar sed nisl sed donec. Cursus penatibus nam mauris cursus sollicitudin elit, massa. Urna semper ac, pellentesque vitae id. </p>
                    <p class="global__text history__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis facilisi neque, massa ornare est porttitor nibh a. Non eget fames ipsum pulvinar sed nisl sed donec. Cursus penatibus nam mauris cursus sollicitudin elit, massa. Urna semper ac, pellentesque vitae id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis facilisi neque, massa ornare est porttitor nibh a. Non eget fames ipsum pulvinar sed nisl sed donec. Cursus penatibus nam mauris cursus sollicitudin elit, massa. Urna semper ac, pellentesque vitae id. </p>
                </div>
            </div>
            <div class="history__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="history__img history__img--order" data-src="images/history/img2.jpg" src="images/plug.svg" alt="history">
                <div class="history__info">
                    <p class="global__text history__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis facilisi neque, massa ornare est porttitor nibh a. Non eget fames ipsum pulvinar sed nisl sed donec. Cursus penatibus nam mauris cursus sollicitudin elit, massa. Urna semper ac, pellentesque vitae id. Posuere adipiscing habitasse nibh urna, pretium venenatis volutpat, </p>
                    <p class="global__text history__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis facilisi neque, massa ornare est porttitor nibh a. Non eget fames ipsum pulvinar sed nisl sed donec. Cursus penatibus nam mauris cursus sollicitudin elit, massa. Urna semper ac, pellentesque vitae id. </p>
                </div>
            </div>
        </div>
    </div>
</div>