<div class="story">
    <div class="container">
        <div class="story__video">
            <a data-fslightbox="story" href="https://www.youtube.com/watch?v=N8lWQ0cCJmg&ab_channel=SmileandLearn-English" class="story__link"><img class="story__img" src="images/education/play.svg" alt="story"></a>
        </div>
        <div class="story__info">
        <div class="story__article">
            <h5 class="global__title story__title">Our Story</h5>
            <p data-aos="fade-up" data-aos-duration="1000" class="global__text story__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. </p>
        </div>
        <div class="story__article">
            <h5 class="global__title story__title">Our Mission</h5>
            <p data-aos="fade-up" data-aos-duration="1000" class="global__text story__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna donec nulla eu purus sed pharetra. Enim vel sed posuere ut massa ut. Non sit imperdiet enim at diam orci augue sit ultrices. Rhoncus et ipsum, quis egestas scelerisque viverra id sit. Ullamcorper enim ultrices suspendisse odio. Cras augue suspendisse nulla amet facilisis vulputate elementum. </p>
        </div>
    </div>
    </div>
</div>