.classesmain {
    margin-bottom: 120px;
background-image: url(../images/classesmain/bg1.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
&__title {
    padding: 200px 973px 200px 0;
    color: $white;
    @extend %poppinsbold;
    font-size: 64px;
    line-height: 88px;
}
}