.tabs {
margin-bottom: 120px;
&__schedule {
    margin-bottom: 88px;
}
.tabs__week,
.tabs__time {
    display: inline-block;
    max-width: 331px;
    color: $text;
    font-size: 16px;
    line-height: 24px;
}
.tabs__time {
    margin-left: 20px;
    padding-left: 20px;
}
.tabs__week {
    position: relative;
    padding-right: 20px;
}
&__week::after {
    display: block;
    content: '';
    width: 1px;
    height: 24px;
    background-color: $text;
    position: absolute;
    top: 0;
    left: 154px;
}
&__inner {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 46px;
}
&__frame {
    background-image: url(../images/youtube/ytplaceholder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    width: 816px;
    max-width: 100%;
    height: 410px;
    margin-right: 20px;
}
&__btns {
max-width: 400px;
font-size: 24px;
line-height: 38px;
@extend %poppinsreg;
}
&__watch {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    background-color: $youtube;
    color: $white;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
&__btn {
    position: relative;
color: $white;
cursor: pointer;
width: 400px;
padding: 12px 0;
background-color: $button;
border: 1px solid $text;
border-radius: 8px;
transition: all 0.3s ease-in-out;
&::after {
    display: block;
    content: '';
    background-image: url(../images/youtube/play.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 61%;
    left: 317px;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
}
&:hover {
    background-color: $youtube;
}
&:focus {
    background-color: $youtube;
}
}
&__btn:not(:last-child)  {
    margin-bottom: 20px;
    }
    .focus {
        background-color: $violet;
    }
    &__info {
        margin-bottom: 24px;
        color: $text;
    }
    .tabsgallery-img {
        width: 296px;
        height: 242px;
        object-fit: cover;
    }
}
@media (max-width: 1242px) {
 .tabs {
     margin-bottom: 20px;
 }
}
@media (max-width: 965px) {
    .tabs__schedule {
        margin-bottom: 20px;
    }
    .tabs__inner {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .tabs__btns {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .tabs__btn {
        width: 100%;
        &::after {
            left: 80%;
        }
    }
    .tabs__frame {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .tabs__watch {
        max-width: 100%;
        height: 62px;
    }
}
@media (max-width: 761px) {
    .tabs__frame {
        height: 349px;
    }
}
@media (max-width: 596px) {
    .tabs__frame {
        height: 293px;
    }
}
@media (max-width: 367px) {
    .tabs__frame {
        height: 197px;
    }
    .tabs__week {
        font-size: 14px !important;
        padding-right: 0 !important;
        &::after {
            display: none;
        }
    }
    .tabs__time {
        font-size: 14px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}