<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>Education</title>
        <link rel="stylesheet" href="css/style.min.css">
    </head>
<body>
    <div class="wrapper">
        @@include('modules/home/header.html')
        <!-- @@include('modules/home/headerTop.html')
        @@include('modules/home/about.html')
        @@include('modules/home/skills.html')
        @@include('modules/home/teachers.html')
        @@include('modules/home/instagram.html') -->
        @@include('modules/classes/classesmain.html')
        @@include('modules/classes/tabs.html')
        @@include('modules/classes/schedule.html')
        @@include('modules/classes/contacts.html')
        <main class="main"></main>
        @@include('modules/home/footer.html')
    </div>
    <script src="js/bundle.js"></script>
</body>

</html>