<div class="tutors">
    <div class="container">
        <div class="tutors__inner">
            <div class="tutors__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="tutors__img" data-src="images/tutors/tutor1.jpg" src="images/plug.svg" alt="tutors">
                <div class="tutors__content">
                    <h5 class="global__title tutors__name">Janelle Donnelly</h5>
                    <p class="tutors__prof">Kindergarten</p>
                    <p class="tutors__info tutors__info--first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna curabitur ornare habitant enim elementum. Morbi consectetur bibendum in quam gravida amet placerat mi. Sit gravida ut magnis ultrices. Amet dolor lorem consectetur ut a. Ultrices ultricies faucibus sodales risus, id hac diam nunc et. Et convallis duis nunc, maecenas consequat lectus consectetur varius arcu. Semper congue tempus, amet eu faucibus. Sed mauris risus auctor a imperdiet nunc eget.</p>
                    <p class="tutors__info tutors__info--second">Sed lectus euismod iaculis venenatis donec. Amet gravida in amet, convallis enim cursus. Enim eget senectus amet amet enim pellentesque tortor. Iaculis leo lectus elit, scelerisque rutrum lorem quam. Nulla quam feugiat parturient id est ultrices cras. Risus scelerisque adipiscing pulvinar malesuada habitasse maecena</p>
                    <div class="tutors__social">
                        <a href="#" class="tutors__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="tutors__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="tutors__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="tutors__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="tutors__img" data-src="images/tutors/tutor2.jpg" src="images/plug.svg" alt="tutors">
                <div class="tutors__content">
                    <h5 class="global__title tutors__name">Austin River</h5>
                    <p class="tutors__prof">Junior School</p>
                    <p class="tutors__info tutors__info--first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna curabitur ornare habitant enim elementum. Morbi consectetur bibendum in quam gravida amet placerat mi. Sit gravida ut magnis ultrices. Amet dolor lorem consectetur ut a. Ultrices ultricies faucibus sodales risus, id hac diam nunc et. Et convallis duis nunc, maecenas consequat lectus consectetur varius arcu. Semper congue tempus, amet eu faucibus. Sed mauris risus auctor a imperdiet nunc eget.</p>
                    <p class="tutors__info tutors__info--second">Sed lectus euismod iaculis venenatis donec. Amet gravida in amet, convallis enim cursus. Enim eget senectus amet amet enim pellentesque tortor. Iaculis leo lectus elit, scelerisque rutrum lorem quam. Nulla quam feugiat parturient id est ultrices cras. Risus scelerisque adipiscing pulvinar malesuada habitasse maecena</p>
                    <div class="tutors__social">
                        <a href="#" class="tutors__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="tutors__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="tutors__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="tutors__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="tutors__img" data-src="images/tutors/tutor3.jpg" src="images/plug.svg" alt="tutors">
                <div class="tutors__content">
                    <h5 class="global__title tutors__name">Emma Olivia</h5>
                    <p class="tutors__prof">Middle School</p>
                    <p class="tutors__info tutors__info--first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna curabitur ornare habitant enim elementum. Morbi consectetur bibendum in quam gravida amet placerat mi. Sit gravida ut magnis ultrices. Amet dolor lorem consectetur ut a. Ultrices ultricies faucibus sodales risus, id hac diam nunc et. Et convallis duis nunc, maecenas consequat lectus consectetur varius arcu. Semper congue tempus, amet eu faucibus. Sed mauris risus auctor a imperdiet nunc eget.</p>
                    <p class="tutors__info tutors__info--second">Sed lectus euismod iaculis venenatis donec. Amet gravida in amet, convallis enim cursus. Enim eget senectus amet amet enim pellentesque tortor. Iaculis leo lectus elit, scelerisque rutrum lorem quam. Nulla quam feugiat parturient id est ultrices cras. Risus scelerisque adipiscing pulvinar malesuada habitasse maecena</p>
                    <div class="tutors__social">
                        <a href="#" class="tutors__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="tutors__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="tutors__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
            <div class="tutors__item">
                <img data-aos="fade-up" data-aos-duration="1000" class="tutors__img" data-src="images/tutors/tutor4.jpg" src="images/plug.svg" alt="tutors">
                <div class="tutors__content">
                    <h5 class="global__title tutors__name">Jack Logan</h5>
                    <p class="tutors__prof">Senior School</p>
                    <p class="tutors__info tutors__info--first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna curabitur ornare habitant enim elementum. Morbi consectetur bibendum in quam gravida amet placerat mi. Sit gravida ut magnis ultrices. Amet dolor lorem consectetur ut a. Ultrices ultricies faucibus sodales risus, id hac diam nunc et. Et convallis duis nunc, maecenas consequat lectus consectetur varius arcu. Semper congue tempus, amet eu faucibus. Sed mauris risus auctor a imperdiet nunc eget.</p>
                    <p class="tutors__info tutors__info--second">Sed lectus euismod iaculis venenatis donec. Amet gravida in amet, convallis enim cursus. Enim eget senectus amet amet enim pellentesque tortor. Iaculis leo lectus elit, scelerisque rutrum lorem quam. Nulla quam feugiat parturient id est ultrices cras. Risus scelerisque adipiscing pulvinar malesuada habitasse maecena</p>
                    <div class="tutors__social">
                        <a href="#" class="tutors__link"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="tutors__link"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a href="#" class="tutors__link"><svg><use xlink:href="#linkedin"></use></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>